<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <ng-container
        *ngIf="loadedFeature === 'recipes'; then recipes; else shoppingList"
      ></ng-container>
      <ng-template #recipes> <app-recipes></app-recipes> </ng-template>
      <ng-template #shoppingList
        ><app-shopping-list></app-shopping-list
      ></ng-template> -->
    </div>
  </div>
</div>
