<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <app-recipe-item
        *ngFor="let recipe of recipes; let i = index"
        [index]="i"
        [recipeItem]="recipe"
      ></app-recipe-item>
      <!-- <app-recipe-item
        *ngFor="let recipe of recipes; let i = index"
        [index]="i"
        [recipeItem]="recipe"
        (recipeSelected)="onSelected(recipe)"
      ></app-recipe-item> -->
    </div>
    <!-- <p appBasicHighlight>hello</p>
    <p appHighlighter>hello</p>
    <p appHoverHighlighter>On Hover</p> -->
  </div>
</div>
